/* Rounded Border */
#rcorners1{
   border-radius: 25px;
   background: #73AD21;
   padding: 20px;
   width: 200px;
   height: 150px;
}

#rcorners2{
   border-radius: 25px;
   background: #73AD21;
   padding: 20px;
   width: 200px;
   height: 150px;
}

#rcorners3{
   color: red;
   border-radius: 25px;
   background-image: url(/images/logo.png);
   background-position: left top;
   background-repeat: no-repeat;
   padding: 20px;
   width: 200px;
   height: 150px;
}

/* Broder image */
#rcorners3{
   border-radius: 25px;
   border-image-source:url(/images/logo.png);
   border-image-repeat: round;
   border-image-slice: 30;
   border-image-width: 10px;
   padding: 20px;
}
