/* Rounded Border */
#rcorners1{
   border-radius: 25px;
   background: #73AD21;
   padding: 20px;
   width: 200px;
   height: 150px;
}

#rcorners2{
   border-radius: 25px;
   background: #73AD21;
   padding: 20px;
   width: 200px;
   height: 150px;
}

#rcorners3{
   color: red;
   border-radius: 25px;
   background-image: url(/images/logo.png);
   background-position: left top;
   background-repeat: no-repeat;
   padding: 20px;
   width: 200px;
   height: 150px;
}

/* Broder image */
#rcorners3{
   border-radius: 25px;
   border-image-source:url(/images/logo.png);
   border-image-repeat: round;
   border-image-slice: 30;
   border-image-width: 10px;
   padding: 20px;
}

/* Multiple background */

div{
   border: 1px solid black;
   height: 120px;
   width: 150px;
   background-image: url(/images/f95f5676571b30e0b79d23e5d75b78d7.jpg);
   background-repeat: no-repeat;
   background-size: contain;
}


div{
   border: 1px solid black;
   height: 120px;
   width: 150px;
   background-image: url(/images/f95f5676571b30e0b79d23e5d75b78d7.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.box{
   width: 250px;
   height: 150px;
   padding: 10px;
   border: 6px dashed #333;
   background: orange;
}

.clip1{
   background-clip: border-box;
}

.clip2{
   background-clip: padding-box;
}

.clip3{
   background-clip: content-box;
}


/*  CSS-Gradients */

#grad1{
   height: 100px;
   background-color: red;
   background-image: linear-gradient(red,yellow);
}

#grad1{
   height: 150px;
   width: 200px;
   background-image: radial-gradient(red,yellow,green);
}
